<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cizhu.application">

    <!-- 权限设置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 安装APK -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 操作SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 使用摄像头需要加入相应的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 为了能使用OpenGLES 2.0 API，你必须在你的manifest中添加以下声明： -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 如果你的应用要使用纹理压缩功能，你必须还要声明设备需要支持什么样的压缩格式： -->
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main.ActivityMain"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeM.slide"/>
        <activity
            android:name=".Main.ActivityMain2"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeM.slide"/>
        <activity
            android:name=".Main.Activity_ZhiLiang"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeM.slide"/>
        <activity
            android:name=".Main.Activity_JinDu"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeM.slide"/>
        <activity
            android:name=".Main.Activity_PingDing"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeM.slide"/>
        <activity
            android:name=".Main.Activity_AnQuan"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeM.slide"/>
        <activity
            android:name=".WebView.WebViewCanteen"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeM.slide"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jph.takephoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>